{% extends 'base_planets.html' %}

{% block title %} {{ moon }} {% endblock title %}

{% block moon_data %}
    <h1> {{ moon }} </h1>
    <hr>
    {% if moon.image %}
        {% load staticfiles %}
        <img src="{{ moon.image.url }}" alt="{{ moon.name }}" width="400" title="{{ moon.name }}"/>
    {% endif %}
    <h5>{{ moon.description|safe }}</h5>
    <hr>
    <div class="page-footer" align="right">
        <a href="{{ moon.wiki }}">look to Wikipedia >>></a>
    </div>

{% endblock moon_data %}
