{% extends 'base_planets.html' %}

{% block title %} {{ planet }} {% endblock title %}

{% block planet_data %}
    <h1>#{{ number }} {{ planet }} </h1>
    <hr>
    {% if planet.image %}
        {% load staticfiles %}
        <!--<img src="{% static 'in_the_work.jpg' %}" alt="work" width="100"/>-->
        <!--<img src="{{ MEDIA_URL }}{{ planet.image.url }}" alt="{{ planet.name }}" height="400" width="400" title="{{ planet.name }}"/>-->
        <img src="{{ planet.image.url }}" alt="{{ planet.name }}" width="400" title="{{ planet.name }}"/>
    {% endif %}
    <h5>{{ planet.description|safe }}</h5>
    <hr>
    <div class="page-footer" align="right">
        <a href="{{ planet.wiki }}">look to Wikipedia >>></a>
    </div>

{% endblock planet_data %}
