{% extends 'base_planets.html' %}

{% block planets_list %}
    <div class="page-header">
        <h3>
            These are planets of the solar system<br>
            Click on name to see brief description
        </h3>
    </div>

    <table>
        <tr>
            <th>#</th>
            <th>View</th>
            <th>Name</th>
            <th>Planet mass<br> relative to<br> an Earth</th>
            <th>Average orbital<br> speed, km/s</th>
            <th>Quantity<br> of moons</th>
            <th>Discovery<br> date</th>
        </tr>
        {% for planet in planets %}
            <tr>
                <td>{{ planet.number }}</td>
                <td><img src="{{ planet.image.url }}" alt="{{ planet.name }}" width="70"/></td>
                <td><a href="{% url 'planets:planet_data' planet.number %}">{{ planet }}</a></td>
                <td>{{ planet.planet_mass_to_earth }}</td>
                {% if planet.orbital_speed %}
                    <td>{{ planet.orbital_speed }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ planet.moons_quantity }}</td>
                {% if planet.planet.discovery_date %}
                    <td>{{ planet.discovery_date}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <!--<ol type="1">-->
        <!--{% for planet in planets %}-->
            <!--<li><a href="{% url 'planets:planet_data' planet.number %}">{{ planet }}</a></li>-->
        <!--{% endfor %}-->
    <!--</ol>-->

    <div class="page-footer" align="right">
        It is now: {{ now }}
    </div>

{% endblock planets_list%}