li a {
    color: blue;
    font-size: 5em;
}

body {
    background: white url("images/planets_background.jpg") no-repeat right bottom;
    background-size: cover;
    padding-left: 50px;
}

h2 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}