h1 {
    color: SandyBrown;
    }

h3 {
    color: SandyBrown;
    }

a {
    color: OrangeRed;
    line-height: 1;
    }

body {
    background: url("planets_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Harmattan', sans-serif;
    color: OrangeRed;
    font-size: 30px;
    line-height: 1;
}

p {
    text-indent: 40px;
   }

.table_name {
    margin-bottom: -50px;
    padding: 10px 10px 10px 10px;
    line-height: 1;
    text-align: center;
}

.page-footer {
    color: gold;
    margin-bottom: 10;
    padding: 5px 5px 5px 5px;
    line-height: 1;
    font-size: 0.75em;
    line-height: 0.75em;
}

.page-footer a {
    color: gold;
}

img {
    float: left;
    margin: 0px 20px 20px 0px;
}

table img {
    float: center;
    margin: 0px;
}

table, td, th {
    margin: auto;
    border: 2px solid green;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8em;
}

table {
    pading: 20px;
    }

tr:hover { background-color: #000080; }
