h1 {
    color: SandyBrown;
    }

h3 {
    color: SandyBrown;
    }

ol {
    color: red;
    }

a {
    color: OrangeRed;
    line-height: 1;
    }

body {
    background: url("planets_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'MV Boli';
    color: OrangeRed;
    font-size: 1.5em;
    line-height: 1.5;
}

p {
    text-indent: 40px;
   }

.page-header {
    margin-top: 20;
    padding: 10px 10px 10px 10px;
    line-height: 1.5;
}

.page-footer {
    color: gold;
    margin-bottom: 10;
    padding: 5px 5px 5px 5px;
    line-height: 1;
    font-size: 0.75em;
    line-height: 0.75em;
}

.page-footer a {
    color: gold;
}

img {
    float: left;
    margin: 0px 20px 20px 0;
}

table, td, th {
    border: 1px solid green;
    border-collapse: collapse;
    padding: 7px;
}

tr:hover { background-color: #4A708B; }